.header-container{
  display: flex;
  width: 100%;      
  height: 400px;     
  overflow: hidden;  
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  /* background-color: #fff; */


  #social-media{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 200px;
    padding: 20px;
    gap: 10px;

  }

}